<div class="text-center">
  <table class="table table-hover table-inverse">
    <thead class="bg-info">
      <tr>
        <th>投稿者</th>
        <th>言語</th>
        <th>タイトル</th>
        <th>いいね数</th>
      </tr>
    </thead>
    <% if sheets.present? %>
    <tbody class="bg-white">
      <% sheets.each do |sheet| %>
      <tr>
        <td>
          <%= link_to user_path(sheet.user_id) do %>
            <%= image_tag sheet.user.get_profile_image(70, 70) %><br>
            <%= sheet.user.name %>
          <% end %>
        </td>
        <td><%= sheet.genre.name %></td>
        <td class="text-break">
          <%= link_to sheet_path(sheet.id) do %>
            <%= sheet.title %>
          <% end %>
        </td>
        <td>いいね数の表示</td>
      </tr>
      <% end %>
    </tbody>
    <% elsif params[:commit].present? %>
    <tbody class="bg-white">
      <tr>
        <td colspan="4">
          <h4>検索結果はありません</h4>
        </td>
      </tr>
    </tbody>
    <% else %>
    <tbody class="bg-white">
      <tr>
        <td colspan="4">
          <h4>投稿はまだありません</h4>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
