<div class="container px-5 px-sm-0">

  <% if flash[:notice] %>
  <div class="alert alert-success text-center" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="row">

    <div class="col-md-3">
      <%= render "users/userinfo", current_user: current_user %>
      <div class="card">
        <div class="card-body text-center">
          <h3>投稿検索</h3>
          <%= form_with(url: search_sheets_path, method: :get) do |f| %>
          <div class="form-group">
            <%= f.search_field :keyword, placeholder: "キーワード入力", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "検索", class: "btn btn-success" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Chat Sheet 一覧</h2>
      <%= render "list", sheets: @sheets %>
      <nav>
        <ul class="pagination">
          <% if @sheets.prev_page %>
            <li class="page-item">
              <%= link_to '前へ', sheets_path(page: @sheets.prev_page), class: 'page-link' %>
            </li>
          <% end %>
          <% @sheets.total_pages.times do |i| %>
            <% if @sheets.current_page == i + 1 %>
              <li class="page-item active" aria-current="page">
                <%= link_to i + 1, sheets_path(page: i + 1), class: 'page-link' %>
              </li>
            <% else %>
              <li class="page-item">
                <%= link_to i + 1, sheets_path(page: i + 1), class: 'page-link' %>
              </li>
            <% end %>
          <% end %>
          <% if @sheets.next_page %>
            <li class="page-item">
              <%= link_to '次へ', sheets_path(page: @sheets.next_page), class: 'page-link' %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

  </div>
</div>
