<div class="container px-5 px-sm-0">
  
  <% if flash[:notice] %>
  <div class="alert alert-success text-center" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>
  
  <div class="row">
    
    <div class="col-md-3">
      <%= render "users/userinfo", current_user: current_user %>
      <div class="card">
        <div class="card-body text-center">
          <h2>投稿検索</h2>
        </div>
        <div class="mx-auto">
          <%= form_with(url: search_sheets_path, method: :get, class: "search-form") do |form| %>
            <%= form.search_field :keyword, placeholder: "キーワード入力", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Chat Sheet 一覧</h2>
      <%= render "list", sheets: @sheets %>
    </div>

  </div>
  
</div>
