<div class="container px-5 px-sm-0">
  
  <% if flash[:notice] %>
  <div class="alert alert-success text-center" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>
  
  <div class="row">
      
    <div class="col-md-3">
      <%= render "users/userinfo", current_user: current_user %>
      <div class="card">
        <div class="card-body text-center">
          <h3>この投稿を</h3>
          <div>いいねする/いいね中/本人非表示</div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">コメント投稿</h2>
          <%= render "devise/shared/error_messages", resource: @comment %>
          <% if @comment.persisted? %>
            <%= form_with model: @comment, url: sheet_comment_path(sheet_id: @sheet.id, id: @comment.id), method: :patch  do |f| %>
            <div class="form-group">
              <%= f.text_area :text, autofocus: true, rows: 9, class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= f.submit "コメント更新", class: "btn btn-success" %>
            </div>
            <% end %>
          <% else %>
            <%= form_with model: @comment, url: sheet_comments_path(sheet_id: @sheet.id), method: :post  do |f| %>
            <div class="form-group">
              <%= f.text_area :text, placeholder: "コメント入力", rows: 9, class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= f.submit "コメント作成", class: "btn btn-success" %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Cheat Sheet 詳細</h2>
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>Cheat Sheet</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr>
              <td><%= image_tag @sheet.image.variant(resize_to_limit: [300, 300]) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>投稿者</th>
              <th>言語</th>
              <th>タイトル</th>
              <th>いいね数</th>
              <% if @sheet.user_id == current_user.id %>
              <th>編集</th>
              <th>削除</th>
              <% end %>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr>
              <td>
                <%= link_to user_path(@sheet.user_id) do %>
                  <%= image_tag @sheet.user.get_profile_image(70, 70) %><br>
                  <%= @sheet.user.name %>
                <% end %>
              </td>
              <td><%= @sheet.genre.name %></td>
              <td class="text-break"><%= @sheet.title %></td>
              <td>いいね数の表示</td>
              <% if @sheet.user_id == current_user.id %>
              <td><%= link_to "編集",edit_sheet_path(@sheet.id), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "削除",sheet_path, class: "btn btn-sm btn-danger",method: :delete,"data-confirm" => "本当に消しますか？" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>内容</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr>
              <td><%= @sheet.content %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>コメント<br>投稿者</th>
              <th>コメント</th>
              <% if @comments.any? { |comment| comment.user_id == current_user.id } %>
              <th>編集</th>
              <th>削除</th>
              <% end %>
            </tr>
          </thead>
          <% if @comments.present? %>
          <tbody class="bg-white">
            <% @comments.each do |comment| %>
            <tr>
              <td>
                <%= link_to user_path(comment.user_id) do %>
                  <%= image_tag comment.user.get_profile_image(70, 70) %><br>
                  <%= comment.user.name %>
                <% end %>
              </td>
              <td class="text-break"><%= comment.text %></td>
              <% if comment.user_id == current_user.id %>
              <td>
                <%= link_to "編集",edit_sheet_comment_path(sheet_id: @sheet.id, id: comment.id), class: "btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "削除",sheet_comment_path(sheet_id: @sheet.id, id: comment.id), class: "btn btn-sm btn-danger",method: :delete,"data-confirm" => "本当に消しますか？" %>
              </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
          <% else %>
          <tbody class="bg-white">
            <tr>
              <td colspan="2">
                <h4>コメントはまだありません</h4>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>

  </div>
  
</div>
