<div class="card">
  <div class="card-body text-center">
    <h3>ログインユーザー</h3>
    <%= image_tag user.attach_profile_image.variant(resize_to_limit: [100, 100]), style: "max-width:100%; height:auto;"  %><br>
    <%= user.name %>
    <table class="table table-hover table-inverse small">
      <thead>
        <tr>
          <th>
            <%= link_to user_path(user.id) do %>
              <%= "#{user.sheets.size}" %>
            <% end %>
          </th>
          <th>
            <%= link_to user_followings_path(user_id: user.id) do %>
              <%= "#{user.followings.size}" %>
            <% end %>
          </th>
          <th>
            <%= link_to user_followers_path(user_id: user.id) do %>
              <%= "#{user.followers.size}" %>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>投稿</td>
          <td>フォロー</td>
          <td>フォロワー</td>
        </tr>
      </tbody>
    </table>
    <% if user.name != "guestuser" %>
      <%= link_to edit_user_path(user.id), class: "btn  btn-success  btn-block" do %>
        ユーザー情報編集へ<i class="fas fa-user-cog"></i>
      <% end %>
    <% else %>
      <div class="btn btn-secondary btn-block">ユーザー情報編集へ<i class="fas fa-user-cog"></i></div>
    <% end %>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body text-center">
    <h3>新規投稿</h3>
    <%= link_to new_sheet_path, class: "btn btn-success btn-block" do %>
      新規投稿ページへ<i class="fas fa-arrow-circle-right"></i>
    <% end %>
  </div>
</div>
<br>
