<div class="card">
  <div class="card-body text-center">
    <h3>ログインユーザー</h3>
    <%= image_tag current_user.get_profile_image(100, 100) %><br>
    <%= current_user.name %>
    <table class="table table-hover table-inverse small">
      <thead>
        <tr>
          <th class="text-nowrap">投稿</th>
          <th class="text-nowrap">フォロー</th>
          <th class="text-nowrap">フォロワー</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td "text-nowrap">
            <%= link_to user_path(current_user.id) do %>
              <%= "#{current_user.sheets.count}" %>
            <% end %>
          </td>
          <td "text-nowrap">フォロー数表示</td>
          <td "text-nowrap">フォロワー数表示</td>
        </tr>
      </tbody>
    </table>
    <%= link_to edit_user_path(current_user.id), class: "btn  btn-success  btn-block" do %>
      ユーザー情報編集へ<i class="fas fa-user-cog"></i>
    <% end %>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body text-center">
    <h2>新規投稿</h2>
    <%= link_to new_sheet_path, class: "btn btn-success btn-block" do %>
      新規投稿ページへ<i class="fas fa-arrow-circle-right"></i>
    <% end %>
  </div>
</div>
<br>
