<div class="card">
  <div class="card-body text-center">
    <h3>ログインユーザー</h3>
    <%= image_tag current_user.get_profile_image(100, 100) %><br>
    <%= current_user.name %>
    <table class="table table-hover table-inverse small">
      <thead>
        <tr>
          <th>
            <%= link_to user_path(current_user.id) do %>
              <%= "#{current_user.sheets.count}" %>
            <% end %>
          </th>
          <th>
            <%= link_to user_followings_path(user_id: current_user.id) do %>
              <%= "#{current_user.followings.count}" %>
            <% end %>
          </th>
          <th>
            <%= link_to user_followers_path(user_id: current_user.id) do %>
              <%= "#{current_user.followers.count}" %>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>投稿</td>
          <td>フォロー</td>
          <td>フォロワー</td>
        </tr>
      </tbody>
    </table>
    <%= link_to edit_user_path(current_user.id), class: "btn  btn-success  btn-block" do %>
      ユーザー情報編集へ<i class="fas fa-user-cog"></i>
    <% end %>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body text-center">
    <h3>新規投稿</h3>
    <%= link_to new_sheet_path, class: "btn btn-success btn-block" do %>
      新規投稿ページへ<i class="fas fa-arrow-circle-right"></i>
    <% end %>
  </div>
</div>
<br>
