<div class="container px-5 px-sm-0">

  <% if flash[:notice] %>
  <div class="alert alert-success text-center" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="row">
    
    <div class="col-md-3">
      <%= render "userinfo", currentuser: current_user %>
      <div class="card">
        <div class="card-body text-center">
          <h3>このユーザーを</h3>
          <div>フォローする/フォロー中/本人非表示</div>
        </div>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2><%= "#{@user.name}様のマイページ" %></h2>
      
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>プロフィール画像</th>
              <th>投稿数</th>
              <th>フォロー数</th>
              <th>フォロワー数</th>
              <th>いいねをした数</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr>
              <td><%= image_tag @user.get_profile_image(70, 70) %></td>
              <td><%= "#{@user.sheets.count}個" %></td>
              <td>フォロー数の表示</td>
              <td>フォローワー数の表示</td>
              <td>いいね数の表示</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>自己紹介</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr>
              <% if @user.introduction.blank? %>
                <td>未記入</td>
              <% else %>
                <td><%= @user.introduction %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div><br>
      <h4>投稿履歴</h4>
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>投稿者</th>
              <th>言語</th>
              <th>タイトル</th>
              <th>いいね数</th>
            </tr>
          </thead>
          <% if @sheets.present? %>
          <tbody class="bg-white">
            <% @sheets.each do |sheet| %>
            <tr>
              <td>
                <%= image_tag sheet.user.get_profile_image(70, 70) %><br>
                <%= sheet.user.name %>
              </td>
              <td><%= sheet.genre.name %></td>
              <td class="text-break">
                <%= link_to sheet_path(sheet.id) do %>
                  <%= sheet.title %>
                <% end %>
              </td>
              <td>いいね数の表示</td>
            </tr>
            <% end %>
          </tbody>
          <% else %>
          <tbody class="bg-white">
            <tr>
              <td colspan="4">
                <h4>投稿はまだありません</h4>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  
  </div>

</div>
