<div class="container px-5 px-sm-0">

  <% if flash[:notice] %>
  <div class="alert alert-success text-center" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="row">
    
    <div class="col-md-3">
      <%= render "users/userinfo", user: current_user %>
      <div class="card">
        <div class="card-body text-center">
        <% if current_user.id == @user.id %>
          <h3>このユーザーは</h3><br>
          <h3>自分です</h3>
        <% else %>
          <h3>このユーザーを</h3>
          <div id="follow-btn<%= @user.id %>">
            <%= render partial: 'relationships/follow', locals: {user: @user, relationship: @relationship} %>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2><%= "#{@user.name}様のマイページ" %></h2>
      
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>プロフィール画像</th>
              <th>投稿数</th>
              <th>フォロー数</th>
              <th>フォロワー数</th>
              <th>いいねをした数</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr>
              <td><%= image_tag @user.attach_profile_image.variant(resize_to_limit: [70, 70]), style: "max-width:100%; height:auto;" %></td>
              <td><%= "#{@user.sheets.size}個" %></td>
              <td>
                <%= link_to user_followings_path(user_id: @user.id) do %>
                  <%= "#{@user.followings.size}人" %>
                <% end %>
              </td>
              <td>
                <%= link_to user_followers_path(user_id: @user.id) do %>
                  <span id="follower-count<%= @user.id %>">
                    <%= "#{@user.followers.size}人" %>
                  </span>
                <% end %>
              </td>
              <td>
                <%= link_to user_favorites_path(user_id: @user.id) do %>
                  <%= "#{@user.favorites.size}回" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>自己紹介</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr>
              <% if @user.introduction.blank? %>
                <td>未記入</td>
              <% else %>
                <td><%= @user.introduction %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div><br>
      <h4>投稿履歴</h4>
      <div class="text-center">
        <table class="table table-hover table-inverse">
          <thead class="bg-info">
            <tr>
              <th>投稿者</th>
              <th>言語</th>
              <th>タイトル</th>
              <th>いいね数</th>
            </tr>
          </thead>
          <% if @sheets.present? %>
          <tbody class="bg-white">
            <% @sheets.each do |sheet| %>
            <tr>
              <td>
                <%= image_tag @user.attach_profile_image.variant(resize_to_limit: [70, 70]), style: "max-width:100%; height:auto;" %><br>
                <%= @user.name %>
              </td>
              <td><%= sheet.genre.name %></td>
              <td style="word-wrap: break-word; width: 49%;">
                <%= link_to sheet_path(sheet.id) do %>
                  <%= sheet.title %>
                <% end %>
              </td>
              <td><%= "#{sheet.favorites.size}" %></td>
            </tr>
            <% end %>
          </tbody>
          <% else %>
          <tbody class="bg-white">
            <tr>
              <td colspan="4">
                <h4>投稿はまだありません</h4>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <%= paginate @sheets %>
    </div>
  
  </div>

</div>
